#controls {
  text-align: right;
}

@media print {
  #controls {
    display: none;
  }
}

.todo {
  background-color: rgb(191, 235, 220);
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
}

code {
  font-weight: 100;
}
