body {
  font-family: sans-serif;
}
nav {
  text-align: center;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color: lightgrey;
  border-radius: 3px;
  margin: 5%;
}
