body {
  font-family: helvetica, arial, sans-serif;
  line-height: 1.4em;
  margin: 0;
}

img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #ddd;
}

header,
section,
aside,
footer {
  padding: 8px;
}

header {
  background-color: #1bb5d2;
  color: white;
  text-align: center;
}

aside {
  margin: 10px;
  border: 1px solid #ddd;
  background-color: #eee;
}

.keyFact h1 {
  font-size: 1em;
  margin-bottom: 2px;
}

.keyFact p {
  margin-top: 2px;
}

footer {
  background-color: #072d35;
  color: white;
  font-size: 0.9em;
}
